:root {
    --footer-height: 90px;
    --navbar-width: 12rem;
    --small-navbar-width: 55px; 
}
::-webkit-scrollbar {
    width: 0;
    background: transparent; 
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    font-family: sans-serif;
    height: 100vh;
    background: #222;
    color: white;


}


/* struttura */
main {
    height: calc(100% - var(--footer-height));
    display: flex;
    
}

main > nav {
    background: rgb(11, 11, 11);
   
    width: var(--navbar-width);
}

main > section {
    
    width: calc(100% - var(--navbar-width));
    background: rgb(29, 39, 52);
}


main > nav, main > section {
    height: 100%;
    overflow-y: auto; 
}

/* nav laterale + hover */
.nav-item img, .nav-item a {
    margin-left: 10px; 
}

.home-item {
    position: relative; 
}


.list-none li a:hover {
    color: white;
}

.home-item::before {
    content: "";
    background: rgb(44, 190, 44);
    height: 20px;
    width: 3px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
}

.Playlist {
    max-height: 170px; 
    overflow-y: auto;
}



.profilo-img{
    width: 15px;
    height: 22px;
}

/*nav destra main  */
.green-item {
    position: relative;
}

.green-item::before {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    background-color: rgb(44, 190, 44);
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
}


.nav-selection {
    text-align: center;
}

.nav-selection li {
    display: inline-block;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
}

/* hover button */


button {
    transition: all 0.3s ease; 
}

button:hover {
    border: solid;
    transform: scale(1.10); 
    cursor: pointer; 
}


/* recently played e card generali */
.cards-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: start;
}
.card {
    position: relative;
    overflow: hidden;
    min-width: 160px; 
    max-width: 200px; 
    flex-basis: calc(100% / 6 - 2%);
    flex-grow: 1;
    margin-right: 2%;

}

.card img {
    transition: transform 0.3s ease, filter 0.3s ease;  
}

.card:hover img {
    transform: scale(1.1);  
    filter: brightness(0.3);  
}

.play-icon {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em !important; 
    color: white;  
    opacity: 0;  
    transition: opacity 0.3s ease;  
    pointer-events: none;
}

.card:hover .play-icon {
    opacity: 1;  
}







/* footer */

footer {
    height: var(--footer-height);
    background: rgb(50, 50, 50);
}



.footer-right {
    height: 70px;
    flex-grow: 1;
}

.footer-left {
    margin-left: 15px;
    flex-grow: 1;
}

.footer-left img {
    aspect-ratio: 1; 
    max-width: 100%; 
    height: auto;
}



.song-subtitle:hover {
    text-decoration: underline;
    cursor: pointer;
}



.fa-heart:hover,
.fa-folder:hover {
    color: #fff;
    cursor: pointer;
}


.footer-mid {
    flex-grow: 2;
    margin: 0 15px;
}



.footer-mid-top i {
    
    padding: 0 0.5rem;
}

i.fa-circle-play {
    padding: 0 1.3rem;
    font-size: 2.2rem;
}

.fa-circle-play:hover {
    transform: scale(1.3);
    cursor: pointer;
}





.time-bar {
    margin: 0 1.3rem;
    height: 5px;
    background-color: #5a5a5a;
}


.time-bar-passed {
    position: relative;
    height: 5px;
    background-color: #c1c1c1;
}
.time-bar-passed:hover {
    background-color: yellowgreen;
}

.time-bar-left {
    max-width: 90px;
    min-width: 70px;
    margin: 0 10px
}



.time-bar-passed-left:hover {
    height: 5px;
    background-color: yellowgreen;
}

.circle-time {
    position: absolute;
    right: 0;
    bottom: -100%;
    transform: translate(50%);
    width: 15px;
    height: 15px;
    background-color: #fff;
    opacity: 0;
}

.time-bar-passed:hover .circle-time {
    opacity: 1;
}




/* MEDIA QUERY */
@media only screen and (min-width: 1001px) {
    .footer-left img {
        width: 70x; 
        height: 70px;
    }
    
}

/* Breakpoint 1000px */
@media only screen and (max-width: 1000px) {
    .nav-selection .nav-group:first-child li {
        padding-right: 1rem; 
    }

    .nav-selection .nav-group:last-child li {
        padding-right:
        2.5rem; 
    }

    .footer-left img {
        width: 70px; 
        height: 70px;
    }

}
/* Breakpoint 768px */
@media (max-width: 768px) {
    .card {
        flex: 0 0 calc(50% - 2%);
        margin-right: 2%;
    }
}

/* Breakpoint 550px */
@media only screen and (max-width: 550px) {
    
       
    .sidebar-nav {
        width: var(--small-navbar-width); 
        padding: 10px 5px;
    }

    main > section {
        width: calc(100% - var(--small-navbar-width));  /
    }

    #spotify-text, .nav-item a, .Playlist1, .Playlist, .download-text span, .user-text span, .divisore {
        display: none !important;
    }

    .home-item::before {
        display: none;
    }

    .nav-item img {
        margin: 0;  
        padding: 0;  
        width: 100%;
    }
    
   
    

    .footer-left img {
        width: 40px;   
        height: 40px;
        object-fit: cover;
    }

    .footer-right i {
        padding-right: 5px;  
    }
   
    .footer-left i {
        margin-left: 0%;
       
    }

}

