:root {
    --footer-height: 90px;
    --navbar-width: 12rem;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    height: 100vh;
    background: #222;
    color: white;
}

main {
    height: calc(100% - var(--footer-height));
    display: flex;
    
}

main > nav {
    background: rgb(11, 11, 11);
   
    width: var(--navbar-width);
}

main > section {
    
    width: calc(100% - var(--navbar-width));
    background: rgb(29, 39, 52);
}


main > nav, main > section {
    height: 100%;
    overflow-y: auto; 
}














footer {
    height: var(--footer-height);
    background: rgb(50, 50, 50);
}

